$color-page-bg: #e0e0e0;
$color-surface: #fff;

$page-max-width: 770px;
$bp-tablet: 768px;

$font-names: 'Monplesir', serif;
$font-script: 'Great Vibes', cursive;
$font-sans: 'Montserrat', sans-serif;
